
/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primaryLiteBg: #FFFFFF;
  --color-secondaryLiteBg: #D8E5F9;
  --color-sideBarLiteBg: #1A1770;
  
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-white2:#F5F7FA;
  --color-red: #FF2020;
  --color-green: #19FF00;
  --color-liteGreen: #89E22A;
  --color-violet: #7F00FF;
  --color-liteBlue: #006AFF;
  --color-darkBlue: #302D7F;   /* for button and blue text */
  --color-liteBlack: #867E7E;   /* for text,black border and icons */
  --color-liteBlack2:#BDB9B9;
  --color-modalBg:#00000080;

}
/* body {
  @apply overflow-hidden;
} */